.Edit-Buttons {
  display: flex;
}

.Edit-Button {
  cursor: pointer;
  box-shadow: 0 1px 0 0 #338106;
  background-color: #338106 !important;
  width: fit-content;
  margin: 0 5px 10px 8px;
  padding: 7px 14px;
  border-radius: 4px;
  color: white;
  font-weight: 400;
  outline: none;
}

.Edit-Button-Cancel {
  cursor: pointer;
  margin-bottom: 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  font-size: 23px;
  color: rgb(128, 128, 128);
  outline: none;
}

