.List {
  background: #EBECF0;
  flex-shrink: 0;
  width: 272px;
  height: fit-content;
  margin: 10px;
  margin-right: 0;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.List-Title {
  padding: 0 10px;
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: bold;
}

.List-Time{
  display: inline;
  font-size: 12px;
  color: #5f5f5f;
}

.Wrapper-List{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.Toggle-Add-Card {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  color: #000000;
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Toggle-Add-Card:hover {
  cursor: pointer;
  padding: 10px;
  color: #000000;
  margin: 10px;
  background-color: #b9b9b9;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media only screen and (max-width: 425px) {
  .List{
    width: 90% !important;
    margin: 10px 10px !important;
    flex-shrink: 0;
  }
}