.signup{
    background-color: #F9FAFC;
}

.dev1_logo{
    font-size: 60px !important;
    color: #293856;
    margin-right: 10px !important;
    display: inline;
}
.Logo_box{
    color: #0179BF !important;
    padding: 20px 0;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    box-shadow: none !important;
}

.form_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form_control{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 400px;
    height: 100%;
    padding-bottom: 20px !important;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px 3px rgb(231, 231, 231);
    -webkit-box-shadow: 0px 0px 16px 3px rgb(230, 230, 230);
    -moz-box-shadow: 0px 0px 16px 3px rgb(230, 230, 230);
}

.trello_img1{
    position: fixed;
    bottom: 0%;
    right: 0%;
    width: 296px !important; 
    height: 350px;
}

.trello_img2{
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 296px !important;
    height: 350px;
}

.continue_button{
    width:80%;
    margin: 0 0 20px 0 !important;
    text-transform: none !important;
    background-color:#F9FAFC !important;
    color:#000 !important;
    font-weight: bolder !important;
    box-shadow: 2px 2px 2px 0px rgb(224, 224, 224) !important;
}

.continue_button:hover{
    background-color:#f1f1f1 !important;
    box-shadow: 2px 2px 2px 0px rgb(224, 224, 224)inset !important;
}

.signup_text{
    font-size: 12px !important; 
    color: #848FA1;
    padding: 0px 40px 20px 40px ;
}

.term_service_text{
    padding: 0 7px ;
    color: #0179BF !important;
    text-decoration: underline !important;
    display: inline !important;
}

.textFields{
    width: 90% !important;
}

.bottom_links{
    text-decoration: none !important;
}

.bottom_links:hover{
    text-decoration: underline !important;
}
.submit_btn{
    width: 90% !important;
}